name: Build Android APK

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Mudamos para o Java Zulu que é mais estável para Android
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Accept Android Licenses
      run: |
        yes | flutter doctor --android-licenses

    - name: Install Dependencies
      run: |
        pip install -U pip
        pip install flet
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Build APK with Flet
      # Adicionei --include-packages para garantir que o Flet empacote tudo
      run: |
        flet build apk --verbose --include-packages flet,yt-dlp,certifi

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: meu-player-android
        path: build/apk/
